google-api-core==2.30.0
google-auth==2.48.0
google-cloud-aiplatform==1.71.1
google-cloud-bigquery==3.40.1
google-cloud-core==2.5.0
google-cloud-datastore==2.23.0
google-cloud-resource-manager==1.16.0
google-cloud-storage==2.19.0
google-crc32c==1.8.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
grpc-google-iam-v1==0.14.3
grpcio==1.78.0
grpcio-status==1.71.2
h11==0.16.0
hf-xet==1.1.3
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.32.5
idna==3.11
importlib_resources==6.5.2
iniconfig==2.3.0
Jinja2==3.1.6
jiter==0.10.0
kiwisolver==1.4.9
MarkupSafe==3.0.3
matplotlib==3.10.8
MouseInfo==0.1.3
networkx==3.6.1
numpy==2.4.2
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
openai==1.91.0
packaging==26.0
pandas==3.0.1
pillow==12.1.1
pip==26.0.1
pluggy==1.6.0
proto-plus==1.27.1
protobuf==5.29.6
psutil==7.2.2
pyasn1==0.6.2
pyasn1_modules==0.4.2
PyAutoGUI==0.9.54
pycparser==3.0
pydantic==2.11.7
pydantic_core==2.33.2
PyGetWindow==0.0.9
Pygments==2.19.2
PyMsgBox==2.0.1
pyparsing==3.3.2
pyperclip==1.11.0
PyRect==0.2.0
PyScreeze==1.0.1
pytest==9.0.2
pytest-xdist==3.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python3-xlib==0.15
pytweening==1.2.0
pytz==2025.2
PyYAML==6.0.3
regex==2026.1.15
requests==2.32.5
rsa==4.9.1
safetensors==0.5.3
seaborn==0.13.2
setuptools==82.0.0
shapely==2.1.2
six==1.17.0
sniffio==1.3.1
sympy==1.14.0
textX==4.3.0
tokenizers==0.21.1
tomli==2.4.0
torch==2.7.1
tqdm==4.67.3
transformers==4.52.4
triton==3.3.1
typing_extensions==4.14.0
typing-inspection==0.4.1
tzdata==2025.3
urllib3==2.6.3
vertexai==1.71.1
wheel==0.46.3
zipp==3.23.0
